Repository http4s/blaze: changes, and which Mergify rules are due for each by the changed paths.
All: label blaze-core PRs, label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs, label blaze-examples PRs, label blaze-testkit PRs, label ember-server PRs

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label http4s-blaze-client PRs:
  label:
    add:
    - module:http4s-blaze-client

label http4s-blaze-core PRs:
  label:
    add:
    - module:http4s-blaze-core

label http4s-blaze-server PRs:
  label:
    add:
    - module:http4s-blaze-server

label blaze-examples PRs:
  label:
    add:
    - module:blaze-examples

label blaze-testkit PRs:
  label:
    add:
    - module:blaze-testkit

label ember-server PRs:
  label:
    add:
    - module:ember-server

Bump Scalafmt version
  .scalafmt.conf
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

spelling: appropriately
  http/src/test/scala/org/http4s/blaze/http/http2/ByteBufferInputStreamSuite.scala
Due: none

spelling: block
  http/src/main/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListener.scala
Due: none

spelling: accept
  http/src/test/scala/org/http4s/blaze/http/HeaderNamesSuite.scala
Due: none

spelling: although
  http/src/main/java/org/http4s/blaze/http/parser/BodyAndHeaderParser.java
Due: none

spelling: everywhere
  http/src/main/scala/org/http4s/blaze/http/http2/FrameDecoder.scala
Due: none

spelling: enqueuer
  core/src/test/scala/org/http4s/blaze/util/TaskQueueSuite.scala
Due: label blaze-core PRs

spelling: of
  core/src/main/scala/org/http4s/blaze/util/BufferTools.scala
Due: label blaze-core PRs

spelling: how
  http/src/main/scala/org/http4s/blaze/http/http2/ConnectionImpl.scala
Due: none

spelling: gmail
  build.sbt
Due: none

spelling: initial
  http/src/main/scala/org/http4s/blaze/http/http2/StreamFlowWindow.scala
Due: none

spelling: output-bound
  blaze-core/src/test/scala/org/http4s/blaze/core/websocket/Http4sWSStageSpec.scala
Due: label http4s-blaze-core PRs

spelling: length
  http/src/test/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListenerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/parser/ServerParserSuite.scala
Due: none

spelling: result
  core/src/main/scala/org/http4s/blaze/util/Execution.scala
Due: label blaze-core PRs

spelling: success
  blaze-client/src/test/scala-2.13/org/http4s/client/blaze/BlazeClient213Suite.scala
Due: label http4s-blaze-client PRs

spelling: unknown
  http/src/test/scala/org/http4s/blaze/http/http2/FrameDecoderSuite.scala
Due: none

spelling: timeout
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
Due: label http4s-blaze-client PRs

spelling: small
  http/src/test/scala/org/http4s/blaze/http/parser/HttpTokensSuite.scala
Due: none

spelling: releasable
  http/src/main/scala/org/http4s/blaze/http/HttpClientSession.scala
Due: none

spelling: still
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label http4s-blaze-client PRs

spelling: thread
  core/src/test/scala/org/http4s/blaze/util/TaskQueueSuite.scala
Due: label blaze-core PRs

spelling: version
  http/src/main/scala/org/http4s/blaze/http/http2/FlowStrategy.scala
  http/src/test/scala/org/http4s/blaze/http/parser/ClientParserSuite.scala
Due: none

Fix SSLStageSuite
  core/src/test/scala/org/http4s/blaze/pipeline/stages/SSLStageSuite.scala
Due: label blaze-core PRs

Mark "split large buffers" test flaky
  core/src/test/scala/org/http4s/blaze/pipeline/stages/SSLStageSuite.scala
Due: label blaze-core PRs

Override munitFlakyOK in BlazeTestSuite
  testkit/src/main/scala/org/http4s/blaze/testkit/BlazeTestSuite.scala
Due: label blaze-testkit PRs

Fix marking the test as flaky
  core/src/test/scala/org/http4s/blaze/pipeline/stages/SSLStageSuite.scala
Due: label blaze-core PRs

Preserve ReleaseableResponse naming on favor of backcompat
  http/src/main/scala/org/http4s/blaze/http/HttpClientSession.scala
Due: none

Spelling (#766)
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
  blaze-client/src/test/scala-2.13/org/http4s/client/blaze/BlazeClient213Suite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
  blaze-core/src/test/scala/org/http4s/blaze/core/websocket/Http4sWSStageSpec.scala
  build.sbt
  core/src/main/scala/org/http4s/blaze/util/BufferTools.scala
  core/src/main/scala/org/http4s/blaze/util/Execution.scala
  core/src/test/scala/org/http4s/blaze/util/TaskQueueSuite.scala
  http/src/main/java/org/http4s/blaze/http/parser/BodyAndHeaderParser.java
  http/src/main/scala/org/http4s/blaze/http/http2/ConnectionImpl.scala
  http/src/main/scala/org/http4s/blaze/http/http2/FlowStrategy.scala
  http/src/main/scala/org/http4s/blaze/http/http2/FrameDecoder.scala
  http/src/main/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListener.scala
  http/src/main/scala/org/http4s/blaze/http/http2/StreamFlowWindow.scala
  http/src/test/scala/org/http4s/blaze/http/HeaderNamesSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/ByteBufferInputStreamSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/FrameDecoderSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListenerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/parser/ClientParserSuite.scala
  http/src/test/scala/org/http4s/blaze/http/parser/HttpTokensSuite.scala
  http/src/test/scala/org/http4s/blaze/http/parser/ServerParserSuite.scala
Due: label blaze-core PRs, label http4s-blaze-client PRs, label http4s-blaze-core PRs

Update to http4s-server-1.0.0-M38
  build.sbt
Due: none

Clean up deprecations
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/Http1ClientStageSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
  blaze-core/src/test/scala/org/http4s/blaze/core/DispatcherIOFixture.scala
  blaze-core/src/test/scala/org/http4s/blaze/core/websocket/WebSocketHandshakeSuite.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

Clean up deprecations
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/Http1ClientStageSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
  blaze-core/src/test/scala/org/http4s/blazecore/DispatcherIOFixture.scala
  blaze-core/src/test/scala/org/http4s/blazecore/websocket/WebSocketHandshakeSuite.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

Minimize logger creation impact in IdentityWriter
  blaze-core/src/main/scala/org/http4s/blaze/core/util/IdentityWriter.scala
Due: label http4s-blaze-core PRs

Upgrade to cats-effect-3.5.0-RC2
  build.sbt
Due: none

Minimize logger creation impact in IdentityWriter
  blaze-core/src/main/scala/org/http4s/blazecore/util/IdentityWriter.scala
Due: label http4s-blaze-core PRs

It's still blazecore in 0.23
  blaze-core/src/main/scala/org/http4s/blazecore/util/IdentityWriter.scala
Due: label http4s-blaze-core PRs

Shtudown Http1Connection on cancellation
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
Due: label http4s-blaze-client PRs

Shtudown Http4sWSStage on cancellation
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/Http4sWSStage.scala
Due: label http4s-blaze-core PRs

Path conditions:
  label blaze-core PRs: any of: ^core/
  label http4s-blaze-client PRs: any of: ^blaze-client/
  label http4s-blaze-core PRs: any of: ^blaze-core/
  label http4s-blaze-server PRs: any of: ^blaze-server/
  label blaze-examples PRs: any of: ^examples/
  label blaze-testkit PRs: any of: ^testkit/
  label ember-server PRs: any of: ^ember-server/
