Repository http4s/blaze: changes, and which Mergify rules are due for each by the changed paths.
All: label blaze-core PRs, label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs, label blaze-examples PRs, label blaze-testkit PRs, label ember-server PRs

.mergify.yml:

pull_request_rules:

  - name: label series/0.23 PRs
    conditions:
      - base=series/0.23
    actions:
      label:
        add: ['series/0.23']

  - name: label http4s-steward's PRs
    conditions:
      - author=http4s-steward[bot]
    actions:
      label:
        add: [dependencies]

  - name: label blaze-core PRs
    conditions:
      - files~=^core/
    actions:
      label:
        add: ['module:blaze-core']

  - name: label http4s-blaze-client PRs
    conditions:
      - files~=^blaze-client/
    actions:
      label:
        add: ['module:http4s-blaze-client']

  - name: label http4s-blaze-core PRs
    conditions:
      - files~=^blaze-core/
    actions:
      label:
        add: ['module:http4s-blaze-core']

  - name: label http4s-blaze-server PRs
    conditions:
      - files~=^blaze-server/
    actions:
      label:
        add: ['module:http4s-blaze-server']

  - name: label blaze-examples PRs
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ['module:blaze-examples']

  - name: label blaze-testkit PRs
    conditions:
      - files~=^testkit/
    actions:
      label:
        add: ['module:blaze-testkit']

  - name: label ember-server PRs
    conditions:
      - files~=^ember-server/
    actions:
      label:
        add: ['module:ember-server']

Fix BufferTools
  core/src/main/scala/org/http4s/blaze/util/BufferTools.scala
Due: label blaze-core PRs

Scalafix
  blaze-core/src/main/scala/org/http4s/blazecore/util/package.scala
Due: label http4s-blaze-core PRs

Fix MiMa issues
  http/src/main/scala/org/http4s/blaze/http/http2/ConnectionImpl.scala
  http/src/main/scala/org/http4s/blaze/http/http2/FlowStrategy.scala
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Add `autoPing` for web sockets.
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/Http4sWSStage.scala
  blaze-core/src/test/scala/org/http4s/blazecore/websocket/Http4sWSStageSpec.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/ProtocolSelector.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
Due: label http4s-blaze-core PRs, label http4s-blaze-server PRs

Provide a custom way to handle SSL exceptions
  .gitignore
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  core/src/main/scala/org/http4s/blaze/pipeline/stages/SSLStage.scala
Due: label blaze-core PRs, label http4s-blaze-server PRs

Fix compilation for Scala 2.13.13
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/Http1ClientStageSuite.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/CachingChunkWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/FlushingChunkWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/package.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/Http1WriterSpec.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerMtlsSpec.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerSuite.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
  core/src/test/scala/org/http4s/blaze/util/BufferToolsSuite.scala
  examples/src/main/scala/com/example/http4s/blaze/demo/client/StreamClient.scala
  http/src/main/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListener.scala
  http/src/main/scala/org/http4s/blaze/http/http2/server/ALPNServerSelector.scala
  http/src/main/scala/org/http4s/blaze/http/http2/server/ServerPriorKnowledgeHandshaker.scala
  http/src/test/scala/org/http4s/blaze/http/http2/ConnectionImplSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/FrameDecoderSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/FrameEncoderSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/FrameSerializerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListenerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/HeaderCodecHelpers.scala
  http/src/test/scala/org/http4s/blaze/http/http2/HeaderDecoderSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/OutboundStreamStateImplSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/PingManagerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/SessionFlowControlSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/SessionFrameListenerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/StreamManagerImplSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/StreamStateImplSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/WriteControllerImplSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/mocks/MockHeaderAggregatingFrameListener.scala
Due: label blaze-core PRs, label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs, label blaze-examples PRs

Switch to a Nix flake
  .envrc
  flake.lock
  flake.nix
  shell.nix
Due: none

Add an explicit dependency on log4cats in tests
  build.sbt
Due: none

Add an explicit dependency on log4cats in blaze-examples
  build.sbt
Due: none

Fix Scalafix
  http/src/test/scala/org/http4s/blaze/http/http2/mocks/MockStreamManager.scala
  http/src/test/scala/org/http4s/blaze/http/http2/mocks/MockTools.scala
Due: none

Switch to overlays.default
  flake.nix
Due: none

Inherit async-http-client from 0.23
  .scala-steward.conf
Due: none

Refactor connection closing logic
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  blaze-core/src/main/scala/org/http4s/blaze/core/Http1Stage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

Fix Connection persistence according to RFC 9112
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  blaze-core/src/main/scala/org/http4s/blazecore/Http1Stage.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/NullWriter.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/ServerTestRoutes.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

Inherit sbt-build-info updates from 0.23
  .scala-steward.conf
Due: none

Fix Http1ServerStageSpec
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
Due: label http4s-blaze-server PRs

Update http4s-core to 1.0.0-M44
  build.sbt
Due: none

Use UnprocessableContent instead of UnprocessableEntity
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
Due: label http4s-blaze-server PRs

Address the fs2.io.net.Network API changes
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
Due: label http4s-blaze-client PRs

Fix fs2 compilation failures
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
Due: label http4s-blaze-client PRs

Thread WebSocketDecoder.maxBufferSize through to FrameTranscoder
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketDecoder.scala
  build.sbt
Due: label http4s-blaze-server PRs

http4s -> 0.23.36
  build.sbt
Due: none

Use the maintained Nix flake instead of the archaic shell
  .envrc
  flake.lock
  flake.nix
  nix/nixpkgs-version.json
  shell.nix
Due: none

Reject Transfer-Encoding values other than chunked
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerParser.scala
Due: label http4s-blaze-server PRs

CachingStaticWriter must write the status line and headers before the body
  blaze-core/src/main/scala/org/http4s/blazecore/util/CachingStaticWriter.scala
Due: label http4s-blaze-core PRs

Reject duplicate Content-Length headers
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerParser.scala
Due: label http4s-blaze-server PRs

Reject requests with both Transfer-Encoding and Content-Length
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerParser.scala
Due: label http4s-blaze-server PRs

Push some validations into Java parser for consistency
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerParser.scala
  http/src/main/java/org/http4s/blaze/http/parser/BodyAndHeaderParser.java
Due: label http4s-blaze-server PRs

Reject obs-fold request header field-lines
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerParser.scala
Due: label http4s-blaze-server PRs

Route chunked trailer fields to a separate buffer
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerParser.scala
Due: label http4s-blaze-server PRs

blaze-server: cap aggregate WebSocket message size in WSFrameAggregator
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/Http4sWSStage.scala
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/WebSocketMessageTooLargeException.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WSFrameAggregator.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
Due: label http4s-blaze-core PRs, label http4s-blaze-server PRs

blaze-server: apply the WebSocket message-size cap to single frames too
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
Due: label http4s-blaze-server PRs

Only accept tchar in field-name and require a value
  http/src/main/java/org/http4s/blaze/http/parser/BodyAndHeaderParser.java
  http/src/main/java/org/http4s/blaze/http/parser/HttpTokens.java
Due: none

Restore binary compatibility in WSFrameAggregator
  blaze-server/src/main/scala/org/http4s/blaze/server/WSFrameAggregator.scala
Due: label http4s-blaze-server PRs

Run scalafmt after private security release
  blaze-server/src/main/scala/org/http4s/blaze/server/WSFrameAggregator.scala
Due: label http4s-blaze-server PRs
