Repository http4s/blaze: changes, and which Mergify rules are due for each by the changed paths.
All: label blaze-core PRs, label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs, label blaze-examples PRs, label blaze-testkit PRs, label ember-server PRs

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label http4s-blaze-client PRs:
  label:
    add:
    - module:http4s-blaze-client

label http4s-blaze-core PRs:
  label:
    add:
    - module:http4s-blaze-core

label http4s-blaze-server PRs:
  label:
    add:
    - module:http4s-blaze-server

label blaze-examples PRs:
  label:
    add:
    - module:blaze-examples

label blaze-testkit PRs:
  label:
    add:
    - module:blaze-testkit

label ember-server PRs:
  label:
    add:
    - module:ember-server

Shutdown Http1Stage on cancellation
  blaze-core/src/main/scala/org/http4s/blazecore/Http1Stage.scala
Due: label http4s-blaze-core PRs

Handle canncellations in fromFutureNoShift
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Support.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/EntityBodyWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/package.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/DumpingWriter.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/Http1WriterSpec.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

http4s-0.23.19-RC1
  build.sbt
Due: none

Fix private scope of IdentityWriter
  blaze-core/src/main/scala/org/http4s/blaze/core/util/IdentityWriter.scala
Due: label http4s-blaze-core PRs

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Remove util.Execution.withTimeout
  core/src/main/scala/org/http4s/blaze/util/Execution.scala
Due: label blaze-core PRs

Fix fs2 deprecations
  examples/src/main/scala/com/example/http4s/blaze/demo/server/Module.scala
  examples/src/main/scala/com/example/http4s/blaze/demo/server/Server.scala
  examples/src/main/scala/com/example/http4s/blaze/demo/server/service/FileService.scala
Due: label blaze-examples PRs

Fix cancellation in PoolManager for cats-effect-3.5.0
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label http4s-blaze-client PRs

Fix cancellation in Http4sWSStage for cats-effect-3.5.0
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/Http4sWSStage.scala
Due: label http4s-blaze-core PRs

Fix cancellation in Http1Connection for cats-effect-3.5.0
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
Due: label http4s-blaze-client PRs

Fix cancellation in Http1Stage for cats-effect-3.5.0
  blaze-core/src/main/scala/org/http4s/blazecore/Http1Stage.scala
Due: label http4s-blaze-core PRs

Comment on fromFutureNoShift's uncancelability
  blaze-core/src/main/scala/org/http4s/blazecore/util/package.scala
Due: label http4s-blaze-core PRs

Fix cancellation in Http2NodeStage for cats-effect-3.5.0
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
Due: label http4s-blaze-server PRs

Pin scalafmt to 3.6.x
  .scala-steward.conf
Due: none

use -> surround
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label http4s-blaze-client PRs

Cancel timeout on idleTimeoutStage if we couldn't set a timeout
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
Due: label http4s-blaze-client PRs

Fix typo in test name
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
Due: label http4s-blaze-server PRs

Mark "reliably handle multipart requests" test flaky
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerSuite.scala
Due: label http4s-blaze-server PRs

Allow flaky tests on CI in BlazeServerSuite
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerSuite.scala
Due: label http4s-blaze-server PRs

Backport internal package from http4s core
  blaze-core/src/main/scala/org/http4s/internal/SSLContextOption.scala
  blaze-core/src/main/scala/org/http4s/internal/threads.scala
  blaze-core/src/main/scala/org/http4s/internal/tls.scala
Due: label http4s-blaze-core PRs

Support new changes in client
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClient.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
Due: label http4s-blaze-client PRs

Support new changes in core
  blaze-core/src/main/scala/org/http4s/blaze/core/Http1Stage.scala
  blaze-core/src/main/scala/org/http4s/blaze/core/util/BodylessWriter.scala
  blaze-core/src/main/scala/org/http4s/blaze/core/util/EntityBodyWriter.scala
  blaze-core/src/main/scala/org/http4s/blaze/core/util/Http1Writer.scala
Due: label http4s-blaze-core PRs

Support new changer in server
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Due: label http4s-blaze-server PRs

Support new changer in examples
  examples/src/main/scala/com/example/http4s/blaze/BlazeExample.scala
  examples/src/main/scala/com/example/http4s/blaze/BlazeHttp2Example.scala
  examples/src/main/scala/com/example/http4s/blaze/BlazeSslExample.scala
  examples/src/main/scala/com/example/http4s/blaze/BlazeSslExampleWithRedirect.scala
  examples/src/main/scala/com/example/http4s/blaze/BlazeWebSocketExample.scala
  examples/src/main/scala/com/example/http4s/blaze/ClientExample.scala
  examples/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  examples/src/main/scala/com/example/http4s/blaze/ClientPostExample.scala
  examples/src/main/scala/com/example/http4s/blaze/demo/client/MultipartClient.scala
  examples/src/main/scala/com/example/http4s/blaze/demo/client/StreamClient.scala
  examples/src/main/scala/com/example/http4s/blaze/demo/server/Module.scala
  examples/src/main/scala/com/example/http4s/blaze/demo/server/Server.scala
Due: label blaze-examples PRs

Support new changer in tests
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBuilderSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/ClientTimeoutSuite.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerMtlsSpec.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerSuite.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-server PRs

Scalafmt
  blaze-core/src/main/scala/org/http4s/internal/threads.scala
  blaze-core/src/main/scala/org/http4s/internal/tls.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  examples/src/main/scala/com/example/http4s/blaze/BlazeWebSocketExample.scala
Due: label http4s-blaze-core PRs, label http4s-blaze-server PRs, label blaze-examples PRs

Create headers
  blaze-core/src/main/scala/org/http4s/internal/SSLContextOption.scala
  blaze-core/src/main/scala/org/http4s/internal/threads.scala
  blaze-core/src/main/scala/org/http4s/internal/tls.scala
Due: label http4s-blaze-core PRs

Support API changes
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  blaze-core/src/test/scala/org/http4s/blaze/core/util/Http1WriterSpec.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

Introduce blaze.internal package
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Support.scala
  blaze-core/src/main/scala/org/http4s/blaze/internal/SSLContextOption.scala
  blaze-core/src/main/scala/org/http4s/blaze/internal/threads.scala
  blaze-core/src/main/scala/org/http4s/blaze/internal/tls.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerSuite.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

Scalafix
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Support.scala
  blaze-core/src/main/scala/org/http4s/blaze/internal/tls.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerSuite.scala
Due: label http4s-blaze-client PRs, label http4s-blaze-core PRs, label http4s-blaze-server PRs

Use tlFatalWarnings in build.sbt
  build.sbt
Due: none

Work around an issue with package object inheritance in 2.13
  blaze-core/src/main/scala/org/http4s/blazecore/util/package.scala
Due: label http4s-blaze-core PRs

Fix tests of blaze-http
  http/src/test/scala/org/http4s/blaze/http/http2/PingManagerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/StreamIdManagerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/StreamManagerImplSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/WriteControllerImplSuite.scala
Due: none

Fix yet more tests
  blaze-client/src/test/scala-2.13/org/http4s/client/blaze/BlazeClient213Suite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/Http1ClientStageSuite.scala
  examples/src/main/scala/com/example/http4s/ExampleService.scala
Due: label http4s-blaze-client PRs, label blaze-examples PRs

Fix BlazeClient
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClient.scala
Due: label http4s-blaze-client PRs

Fix examples
  examples/src/main/scala/com/example/http4s/blaze/demo/server/Module.scala
Due: label blaze-examples PRs

Path conditions:
  label blaze-core PRs: any of: ^core/
  label http4s-blaze-client PRs: any of: ^blaze-client/
  label http4s-blaze-core PRs: any of: ^blaze-core/
  label http4s-blaze-server PRs: any of: ^blaze-server/
  label blaze-examples PRs: any of: ^examples/
  label blaze-testkit PRs: any of: ^testkit/
  label ember-server PRs: any of: ^ember-server/
